* {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    border-radius: 5px;
    text-align: center;
}

td {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
}

td:hover {
    background-color: rgb(52, 52, 52);
    color: rgb(189, 186, 186);
}

td:active {
    background-color: rgb(71, 71, 71);
    color: cornsilk;
}